@import 'mixins/mixins';
@import 'mixins/utils';
@import 'mixins/_button';
@import 'common/var';

@include b(button) {
  position: relative;
  display: inline-block;
  min-width: 96px;
  max-width: 192px;
  height: $--button-height;
  box-sizing: border-box;
  margin: 0;
  border: $--border-base;
  border-color: transparent;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  font-family: $--font-family;
  font-weight: $--font-weight;
  line-height: 1.4286;
  outline: none;
  text-align: center;
  transition: all 0.2s;

  @include utils-ellipsis;
  @include utils-user-select(none);
  & + .el-button {
    margin-left: 8px;
  }
  @include button-size(
    $--button-padding-vertical,
    $--button-padding-horizontal,
    $--button-font-size,
    $--button-border-radius
  );
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover:not(.is-disabled) {
    border-color: $--button-default-border-hov;
    background: $--button-default-fill-hov;
    color: $--button-default-color-hov;
  }

  &:active:not(.is-disabled) {
    border-color: $--button-default-border-pre;
    background: $--button-default-fill-pre;
    color: $--button-default-color-pre;
  }

  & i {
    font-size: 24px;
    vertical-align: middle;
    & + span {
      margin-right: 0;
    }
  }
  @include e(disabled-modal) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include when(icon) {
    min-width: 32px;
    padding: 0;
    border: none;
    span {
      vertical-align: middle;
    }
    &.el-button--mini {
      min-width: 24px;
    }
  }

  @include when(icon-border) {
    min-width: 32px;
    padding: 0 8px 0 4px;
    border: $--border-base;
  }
  @include when(icon-text) {
    max-width: 256px;
    padding: 0 8px 0 4px;
    &.el-button--mini {
      padding: 0 8px 0 4px;
    }
  }
  @include when(radius) {
    border-radius: 15px;
  }
  @include when(active) {
    border-color: shade($--color-brand, $--button-active-shade-percent);
    color: shade($--color-brand, $--button-active-shade-percent);
  }
  @include when(loading) {
    position: relative;
    padding: $--button-padding-vertical $--button-padding-horizontal-loading;
    opacity: $--disabled-opacity;
    pointer-events: none;
    .h-icon-loading {
      margin-right: 4px;
      line-height: 0;
    }
    &.el-button--large {
      padding: $--button-large-padding-vertical
        $--button-large-padding-horizontal-loading;
    }
    &.el-button--small {
      padding: $--button-small-padding-vertical
        $--button-small-padding-horizontal-loading;
    }
    &.el-button--mini {
      padding: $--button-mini-padding-vertical
        $--button-mini-padding-horizontal-loading;
    }
  }

  @include m(default) {
    @include button-variant(
      $--button-default-color,
      $--button-default-fill,
      $--button-default-border
    );
    &:hover:not(.is-disabled) {
      border-color: $--button-default-border-hov;
      background: $--button-default-fill-hov;
      color: $--button-default-color-hov;
    }
    &:active:not(.is-disabled) {
      border-color: $--button-default-border-pre;
      background: $--button-default-fill-pre;
      color: $--button-default-color-pre;
    }
    @include when(plain) {
      &:hover:not(.is-disabled) {
        border-color: $--color-brand;
        color: $--color-brand;
      }
      &:active:not(.is-disabled) {
        border-color: $--color-brand;
        color: $--color-brand;
      }
    }
    @include when(icon) {
      border-color: $--button-default-icon-border;
      background-color: $--button-default-icon-fill;
      &:hover:not(.is-disabled) {
        border-color: $--button-default-icon-border-hov;
        background: $--button-default-icon-fill-hov;
      }
      &:active:not(.is-disabled) {
        border-color: $--button-default-icon-border-pre;
        background: $--button-default-icon-fill-pre;
      }
    }
  }
  @include m(primary) {
    @include button-variant(
      $--button-primary-color,
      $--button-primary-fill,
      $--button-primary-border
    );
    .h-an-icon-loading {
      color: $--button-primary-color;
    }
    &:hover:not(.is-disabled) {
      border-color: $--button-primary-border-hov;
      background-color: $--button-primary-fill-hover;
      color: $--button-primary-color-hover;
    }
    &:active:not(.is-disabled) {
      border-color: $--button-primary-border-pre;
      background-color: $--button-primary-fill-pre;
      color: $--button-primary-color-pre;
    }

    @include when(icon-text) {
      padding: 0 16px;
    }
  }
  @include when(plain) {
    &:hover:not(.is-disabled) {
      border-color: $--color-brand;
      background-color: $--color-white;
      color: $--color-brand;
    }
    &:active:not(.is-disabled) {
      border-color: invert($--color-brand, $--button-active-shade-percent);
      background-color: $--color-white;
      color: invert($--color-brand, $--button-active-shade-percent);
      outline: none;
    }
  }
  @include m(success) {
    @include button-variant(
      $--button-success-color,
      $--button-success-fill,
      $--button-success-border
    );
  }

  @include m(warning) {
    @include button-variant(
      $--button-warning-color,
      $--button-warning-fill,
      $--button-warning-border
    );
  }
  @include m(danger) {
    @include button-variant(
      $--button-danger-color,
      $--button-danger-fill,
      $--button-danger-border
    );
  }
  @include m(info) {
    @include button-variant(
      $--button-info-color,
      $--button-info-fill,
      $--button-info-border
    );
  }
  @include m(large) {
    height: $--height-lg;
    @include button-size(
      $--button-large-padding-vertical,
      $--button-large-padding-horizontal,
      $--button-large-font-size,
      $--button-border-radius
    );
  }
  @include m(small) {
    min-width: 0;
    height: $--button-small-height;
    @include button-size(
      $--button-small-padding-vertical,
      $--button-small-padding-horizontal,
      $--button-small-font-size,
      $--button-border-radius
    );
  }
  @include m(mini) {
    min-width: 0;
    height: $--button-mini-height;
    @include button-size(
      $--button-mini-padding-vertical,
      $--button-mini-padding-horizontal,
      $--button-mini-font-size,
      $--button-border-radius
    );
  }
  @include m(text) {
    min-width: 0;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background: transparent;
    color: $--font-color-regular;
    font-family: $--font-family;
    font-weight: initial;
    .h-an-icon-loading {
      color: $--font-color-regular;
    }
    &:hover:not(.is-disabled),
    &:active:not(.is-disabled) {
      border-color: transparent;
      background: transparent;
      text-decoration: underline;
    }
    &:hover:not(.is-disabled) {
      color: $--font-color-regular;
    }
    &:active:not(.is-disabled) {
      color: $--font-color-primary;
    }
  }
  @include m(link) {
    min-width: 0;
    padding-right: 0;
    padding-left: 0;
    border: none;
    background: transparent;
    color: $--button-link-color;
    font-weight: initial;
    &:hover:not(.is-disabled),
    &:active:not(.is-disabled) {
      background: transparent;
      text-decoration: underline;
    }
    &:hover:not(.is-disabled) {
      color: $--button-link-color;
    }
    &:active:not(.is-disabled) {
      color: $--button-link-color-hover;
    }
  }
  @include m(ghost) {
    &,
    &:hover:not(.is-disabled),
    &:active:not(.is-disabled) {
      background: transparent !important;
    }
  }

  @include when(disabled) {
    opacity: $--disabled-opacity;

    &,
    &:hover {
      background-image: none;
      cursor: not-allowed;
    }
    &.el-button--link {
      text-decoration: none;
    }
    &.el-button--text {
      text-decoration: none;
    }
    &.el-button--default:not(.is-icon) {
      border-color: $--button-white-disable-border;
      background-color: $--button-white-disable-fill;
      color: $--button-white-disable-color;
      opacity: 1;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;

  display: inline-block;
  vertical-align: middle;
  & .el-button {
    position: relative;
    float: left;

    & + .el-button {
      margin-left: 0;
    }

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:hover,
    &:active {
      z-index: 1;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }

      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-right-color: rgba($--color-white, 0.5);
        border-left-color: rgba($--color-white, 0.5);
      }
    }
  }
}
